@import url('https://fonts.googleapis.com/css2?family=Averia+Serif+Libre:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

body {
    margin: 0;
    height: 100%;
    overflow: hidden;
    box-sizing: border-box;
    color: #17301C;
    /*background-color: #ffe6d5;*/
    background: linear-gradient(#744FC6, #4FB0C6);
    /*#f9f1f1;*/
}

#main-container {
    height: 100%;
    margin: 0;
    display: grid;
    grid-template-columns: [leftmost] 1fr [middleline] 1fr [rightmost];
    grid-template-rows: 1.5fr 0.5fr;
    grid-template-areas: 
    "cvs des"
    "cvs des";
}

.intro {
    grid-column: middleline / span rightmost;
    grid-row: 1 / span 2;
    grid-area: des;
    padding: 20px;
    z-index: 1;
    font-family: 'Lato', sans-serif;
    color: #17301C;
    place-self: center;
}

.cover {
    grid-area: cvs;
    box-sizing: border-box;
    place-self: center;
    width: 100%;
    height: 100%;
    padding: 30px;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 10% auto 15% ;
    grid-template-areas:
        "icns "
        "canvas "
        "name ";
    place-items: stretch;
}

.iconbox {
    grid-area: icns;
    place-self: center;
    position: relative;
    z-index: 1;
    width : calc(4.4vh);
    height : calc(4.4vh);
}

.icons {
    width : 100%;
    pointer-events: none;
}

a.icons {
    width: 100%;
    border-radius: 50%;
    pointer-events: all;
}

.bigtitle {
    grid-area: name;
    position: relative;
    z-index: 1;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    color: black;
}

.Name {
    background-color: transparent;
    text-align: inherit;
    font-size: 46;
    font-family: 'Averia Serif Libre',cursive;
    /*margin-bottom: 40px;*/
    box-sizing: content-box;
    width : max-content;
    margin: auto;
    padding-top: 1%;
    /*border: 3px solid green;*/
}

#canvas-container {
    grid-area: 1/1/4/2;
    position: relative;
}

canvas {
    width: 100%;
    height: 100%;
    overflow: hidden;
    /*background-color: transparent;*/
    background-color: #4F86C6;
    /*background-image: url("assets/dark-leather.png");*/ 
    position: absolute;
    z-index: 0;
}

a:hover {
    border-color: whitesmoke;
    border-width: 30px;
}

@media (max-width : 850px){
    #main-container{
        grid-template-areas: 
        "cvs cvs"
        "des des";
    }
    .cover {
        padding: 20px;
        padding-bottom: 0px;
    }
}