@import url('https://fonts.googleapis.com/css2?family=Averia+Serif+Libre:wght@300&display=swap');

html,body {
    margin: 0;
    height: 100%;
    overflow: hidden;
    box-sizing: border-box;
    color: black;
    /*background-color: #ffe6d5;*/
    background: linear-gradient(#ff0900, black);
    /*#f9f1f1;*/
}


.cover {
    display: block;
    align-items: center;
    text-align: center;
    justify-content: center;
    margin: auto;
}

div.iconbox {
    position: relative;
    margin: 10vh auto auto;
    z-index: 1;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    width : calc(4.4vh);
    height : calc(4.4vh);
}

object.icons {
    width : 100%;
    pointer-events: none;
}

a.icons {
    width: 100%;
    border-radius: 50%;
    display: inline-block;
    pointer-events: all;
}

.bigtitle {
    position: relative;
    z-index: 1;
    box-sizing: border-box;
    margin-top: 60vh;
    align-items: center;
    justify-content: center;
    color:white;
}

.Name {
    background-color: transparent;
    text-align: inherit;
    font-size: 46;
    font-family: 'Averia Serif Libre',cursive;
    /*margin-bottom: 40px;*/
    box-sizing: content-box;
    width : max-content;
    margin: auto;
    padding-top: 1%;
    
    /*border: 3px solid green;*/
}

.quote1 {
    color: black;
    text-align: inherit;
    background-color: transparent;
    font-size: 20;
    font-family:  'Averia Serif Libre' ;
    font-style: italic;
    margin:auto;
    width: max-content;
    margin: auto;
}

#canvas_container {
    width: 100%;
    text-align:center;
    margin: auto;
}

canvas {
    overflow: hidden;
    /*background-color: transparent;
    background-color: #fae500;*/
    background-color: #ff0900;
    background-image: url("assets/dark-leather.png"); 
    position: absolute;
    top:0;
    bottom: 0;
    left: 0;
    right: 0;
    margin:auto;
    z-index: 0;
}

a:hover {
    border-color: whitesmoke;
    border-width: 30px;
}